
  <section class="site-counter" id="counter">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <p class="text-white">
              Le Cabinet Monplaisir Santé est composé de 6 professionnelles à l’écoute du corps et de l’esprit : une orthophoniste, une psychomotricienne, 2 psychologues, une sage-femme et une ostéopathe.
            </p>
            <p class="text-white">
              Construite dans un souci de complémentarité, cette équipe partage des valeurs communes de bienveillance,
              de respect du patient et de rigueur professionnelle.
            </p>
            <p class="text-white">
              Nous accueillons chaque personne, famille ou couple, pour des soins personnalisés à visée thérapeutique ou préventive, en individuel ou en groupe.
            </p>
            <p class="text-white">
              Prenez contact avec la professionnelle qui vous semble la plus à même de répondre à votre besoin. Si nécessaire,  nous vous orienterons vers l’une de nos associées ou vous proposerons une prise en charge pluridisciplinaire.
            </p>
            <p class="text-white">
              Vous trouverez sur ce site l’offre de soins de chaque professionnelle, nos actualités ainsi que les modalités d’accès et de contact.
            </p>
            <p class="text-white">
              A très bientôt,
            </p>
            <p class="text-white">
              L’équipe Monplaisir Santé
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
