<footer class="site-footer">
  <div class="container">
    <div class="row">
      {{ with .Site.Params.footer.contactInfo }}
      <div class="col-lg-3 col-md-6">
        <div class="site-footer-widget">
          <h5 class="site-footer-widget-title">{{ .title }}</h5>
          <p class="site-footer-widget-description">
            {{ .address | safeHTML }}
            <br>
            {{ .city }}
            <br>
            <a href="tel:{{ .phone }}">{{ .phone }}</a>
            <br>
            <img src="{{ .image | absURL }}" alt="post-thumb">
          </p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</footer>

{{ $vendor := resources.Get "js/vendor.js" | minify }}
<script src="{{ $vendor.Permalink }}"></script>
{{ $script := resources.Get "js/script.js" | minify }}
<script src="{{ $script.Permalink }}"></script>

{{ $msJS := resources.Get "js/ms.js" | minify }}
<script src="{{ $msJS.Permalink }}"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXHuCgQkrAc7HAN_kgLK_eBH8bMDa_RbA&callback=initMap"
        async defer></script>

